<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/globals.css') }}">
    <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
       {% include 'components/header.html' %}
        <main class="p-2">
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <h2>Footer</h2>
        </footer>
    </body>
</html>
