{% extends 'base.html' %}
{% block title %}
    {{ book.title }}
{% endblock %}
{% block content %}
<div class="bg-gray-100 dark:bg-gray-800 py-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:flex-row -mx-4">
            <div class="md:flex-1 px-4">
                <div class="h-[70vh] rounded-lg bg-gray-300 dark:bg-gray-700 mb-4">
                    <img class="w-full h-full object-center object-cover" src="{{ book['image'] }}" alt="{{ book['title'] }}">
                </div>
                <div class="flex -mx-2 mb-4">
                    <div class="w-1/2 px-2">
                        <button class="w-full bg-green-600 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-800 dark:hover:bg-gray-700">Add to Cart</button>
                    </div>
                </div>
            </div>
            <div class="md:flex-1 px-4">
                <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2">{{ book.title }}</h2>
                <div class="flex mb-4">
                  
                    <div>
                        <span class="font-bold text-gray-700 dark:text-gray-300">ISBN:</span>
                        <span class="text-gray-600 dark:text-gray-300 text-sm">{{ book.isbn }}</span>
                    </div>
                   
                </div>
                <div class="mb-4">
                    <span class="font-bold text-gray-700 dark:text-gray-300">Edition:</span>
                    <span class="text-gray-600 dark:text-gray-300">{{ book.edition }}</span>
                </div>
                <div class="mb-4">
                    
                    <span class="font-bold text-gray-700 dark:text-gray-300">Pages:</span>
                    <span class="text-gray-600 dark:text-gray-300">{{ book.numberOfPages }} pages</span>
                </div>
                <div class="mb-4">
                    <span class="font-bold text-gray-700 dark:text-gray-300">Price:</span>
                    <span class="text-gray-600 dark:text-gray-300">KES {{ book.price }}0</span>
                </div>
     <div class="mb-4">
                    <span class="font-bold text-gray-700 dark:text-gray-300 text-lg">Authors:</span>
                    <ul class="list-disc list-inside">
                        {% for author in book.authors %}
                           <li> <a 
                            href="{{ url_for('bookstore_views.author', author_id=author.id) }}"
                            class="text-gray-600 dark:text-gray-300">{{ author.fullNames }}</a></li>
                        {% endfor %}
                        
                    </ul>
                </div>
                <div class="mb-4">
                    <span class="font-bold text-gray-700 dark:text-gray-300">Categories:</span>
                    <ul class="list-disc list-inside">
                        {% for category in book.categories %}
                            <li
                            
                            ><a 
                            href="{{ url_for('bookstore_views.category', category_id=category.id) }}"
                            class="text-gray-600 dark:text-gray-300">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
        
                <div>
                    <span class="font-bold text-gray-700 dark:text-gray-300">Description</span>
                    <p class="text-gray-600 dark:text-gray-300 text-sm mt-2 prose">
                        {{ book.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}