{% extends 'base.html' %}
{% block title%}
    {{ category.name }}
{% endblock %}
{% block content %}
    <h1>{{ category.name }}</h1>
    <div class="category-books">
        {% for book in category.books %}
            <div class="category-book">
                <img src="{{ book['image'] }}" alt="book_image" width="300">
                <h3>{{ book.title }}</h3>
                <h2>Authors</h2>
                <ul class="book-authors">
                    {% for author in book.authors %}
                        <li>{{ author.fullNames }}</li>
                    {% endfor %}
                </ul>
                <h2>Publishers</h2>
                <ul class="book-publishers">
                    {% for publisher in book.publishers %}
                        <li>{{ publisher.name }}</li>
                    {% endfor %}
                </ul>
                <p>{{ book.price }}</p>
                <a href="{{ url_for('bookstore_views.book', book_id=book.id) }}">View</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
