{% extends 'base.html' %}

{% block title %}
    Landing
{% endblock %}

{% block content %}
    <h1>Landing</h1>
    <section class="hero">
    <div class="categories-sidebar-container">
        <ul class="categories-sidebar">
            {% if categories %}
                {% for category in categories %}
                    <li><a href="/categories/{{ category['id'] }}">{{ category.name }}</a></li>
                {% endfor %}
            {% else %}
                <li>No categories found</li>
            {% endif %}
        </ul>  
    </div>
    <!-- <div class="hero-image-container">
        <img src="{{ url_for('static', filename='images/hero.jpg') }}" alt="hero image">
    </div> -->
    <div class="featured-container">
        <h2>Featured Books</h2>
        <div class="featured-books">
            {% if books %}
                {% for book in books %}
                    <div class="featured-book">
                        <img src="{{ book['image'] }}" alt="book image" width="300">
                        <h3>{{ book.title }}</h3>
                        <!-- book.authors is an array -->
                        <!-- <div class="book-authors">
                            {% for author in book.authors %}
                                <p>{{ author.fullNames }}</p>
                            {% endfor %}
                        </div>
                        <div class="book-publishers">
                            {% for publisher in book.publishers %}
                                <p>{{ publisher.name }}</p>
                            {% endfor %}
                        </div> -->
                        <p>{{ book.price }}</p>
                        <a href="/books/{{ book['id'] }}">View</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No books found</p>
            {% endif %}
    </div>
</section>
<!-- for each category we render a section with title the name of the category and loop category.books and render the books below it -->
{% for author in authors %}
    <section class="category">
        <h2>{{ author.fullNames }}</h2>
    </section>
{% endfor %}

{% for publisher in publishers %}
    <section class="publisher">
        <h2>{{ publisher.name }}</h2>
    </section>
{% endfor %}
{% endblock %}
