{% extends 'base.html' %}

{% block title %}
    Landing
{% endblock %}

{% block content %}

<section class="">
    

    <div class="col-span-2 h-auto">{% include 'components/hero.html' %}</div>
   
</section>
<!-- for each category we render a section with title the name of the category and loop category.books and render the books below it -->
<div class="bg-teal-700 text-white text-center py-3 mt-3" >
 
        <h2 class="text-2xl font-bold">All Books</h2>

</div>
<div class="mx-auto grid max-w-6xl  grid-cols-1 gap-6 p-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    {% for book in books %}
            {% include 'components/bookcard.html' %}
     
    {% endfor %}
</div>

{% endblock %}
