{% extends 'base.html' %}

{% block title %}
    Landing
{% endblock %}

{% block content %}

<section class="">
    

    <div class="col-span-2 h-auto">{% include 'components/hero.html' %}</div>
   
</section>
<!-- for each category we render a section with title the name of the category and loop category.books and render the books below it -->
<div class="grid grid-flow-row grid-cols-3 gap-x-2">
    {% for book in books %}
        <div class="category-book">
            {% include 'components/bookcard.html' %}
        </div>
    {% endfor %}
</div>

{% endblock %}
