<div class="mx-auto mt-11 cursor-pointer w-80 transform overflow-hidden rounded-lg bg-white dark:bg-slate-800 shadow-md duration-300 hover:scale-105 hover:shadow-lg">
    <img class="h-24 w-full object-cover object-center" src="{{ book['image'] }}" alt="{{ book['title'] }}" />
    <div class="p-4">
      <h2 class="mb-2 text-lg font-medium dark:text-white text-gray-900"><a href="{{ url_for('bookstore_views.book', book_id=book.id) }}">{{book.title}}</a></h2>
      <p class="py-2 h-12 text-base dark:text-gray-300 text-gray-700 truncate">
        {{ book.description }}
      </p>
      <div class="flex items-center">
        <p class="mr-2 text-lg font-semibold text-gray-900 dark:text-white">{{
           book.price    
        }}</p>
        <p class="text-base  font-medium text-gray-500 line-through dark:text-gray-300">${{
            book.price    
         }}</p>
        <p class="ml-auto text-base font-medium text-green-500">{{
            book.discount  
         }}% off</p>
      </div>
    </div>
  </div>