<div class=""><article class="group rounded-xl  bg-white p-3 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300 max-h-full">
    <a href="{{ url_for('bookstore_views.book', book_id=book.id) }}">
      <div class="h-72  relative flex items-start w-full overflow-hidden rounded-xl">
        <img src="{{ book['image'] }}"   alt="{{ book['title'] }}" />
  
      </div>
    </a>
      <div  class="mt-1 flex flex-col justify-between">
        <a href="{{ url_for('bookstore_views.book', book_id=book.id) }}">
        <h2 class="text-slate-700 m-0">{{book.title}}</h2>
        <p class="mt-1 text-sm text-slate-400">{{book.edition}}</p>
      </a>
        <div class="mt-3 flex items-end justify-between">
            <p class="text-lg font-bold text-teal-700">KES {{book.price}}0</p>


        </div>
        <form id="bcard_{{ book.id }}" method="post" action="{{ url_for('bookstore_views.orderline') }}">
        <button
        type="submit" class="cursor-pointer flex w-32 justify-between  text-white group-hover:before:content-['Add_to_cart']  before:content-['Buy_Now']  group-hover:w-full items-center space-x-1.5 rounded-lg bg-teal-700 px-4 py-1.5  duration-100 group-hover:bg-green-600">
          
            <input type="hidden" name="quantity" value=1>
            <input type="hidden" name="book_id" value="{{ book.id }}">
            <input type="hidden" name="unitSalePrice" value="{{ book.price }}">
        
              <svg class=""  width="24" height="24" viewBox="0 0 24 24" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" color="systemGrayscale00"><path fillRule="evenodd" clipRule="evenodd" d="M12 3.5A1.5 1.5 0 0 1 13.5 5v5.5H19a1.5 1.5 0 0 1 1.493 1.355L20.5 12a1.5 1.5 0 0 1-1.5 1.5h-5.5V19a1.5 1.5 0 0 1-1.355 1.493L12 20.5a1.5 1.5 0 0 1-1.5-1.5v-5.5H5a1.5 1.5 0 0 1-1.493-1.355L3.5 12A1.5 1.5 0 0 1 5 10.5h5.5V5a1.5 1.5 0 0 1 1.355-1.493L12 3.5Z"></path>
              </svg> 
            </button>
      </form>
      </div>
    
  </article>
</div>
<script>
  $("#bcard_{{ book.id }}").on('submit', function(event){
    event.preventDefault();
    let form = $(this);
    let url = form.attr('action');
    let data = form.serialize();
    $.post(url, data, function(response){
      console.log(response);
      $('#summary').load(location.href + ' #cartlength');
    });
  });
</script>